.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.half-width-event {
  width: 50% !important; /* Set the width of overlapping events to half */
  position: absolute !important; /* Prevent FullCalendar from adjusting layout */
  left: 0 !important; /* Align the first overlapping event to the left */
}

/* Adjust the second overlapping event to appear side by side */
.half-width-event + .half-width-event {
  left: 50% !important; /* Position the second event to the right */
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
